@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.head {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 20px 15% 20px 15%;
}
/*header styles start*/
.header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 80px;
}

.title {
    font-size: 24px;
    color: #f9faf8;
    margin: 0 auto 0 0;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/*header style end*/
/*head text style start*/
.head-content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.head-image {
    width: auto;
    height: 300px;
}

.head-text {
    flex-basis: 30%;
}

.head-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 0;
}

.head-text p, .head-text button {
    font-size: 18px;
    color: #e5e7eb;
}

.head-text button {
    background-color: #3882f6;
    border-radius: 15%;
}

/*head text style end*/